/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .searchArticle{
        padding-top: 53px;
        color: var(--text-dark-primary);
        background-color: var(--background-color);
    }

    .searchFilterSection{
        width: 100%;
        padding: 50px 80px;
    }

    .searchTitle{
        font-size: var(--subtitle-size);
    }

    .searchSubtitle{
        font-size: 13px;
    }

    .searchFilterLabel{
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .searchSelectInput{
        display: block;
    }

    .searchFilterContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }

    .searchFilterCategoryContainer{
        /* display: inline; */
        width: 20%;
    }

    .searchFilterForm{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .searchResultList{
        padding: 0 80px 50px 80px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}