.landing{
    height: 600px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingSearch{
    width: 600px;
    height: 50px;
    background-color: var(--background-default);
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0 0;
}

.searchInput{
    padding: 0 10px 0 20px;
    width: 550px;
    background-color: transparent;
    color: var(--text-dark-primary);
    font-weight: 700;
    font-size: var(--subtitle-size);
}

.searchInput::placeholder{
    color: var(--text-dark-secondary);
}

.searchInputButton{
    width: 50px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
}

.searchSwitch{
    margin-top: 5px;
    width: 600px;
    height: 30px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    font-weight: 700;
    font-size: var(--paragraph-size);
    border-radius: 0 0 10px 10px;
}

.listing{
    padding: 50px 80px;
}

.listingSectionTitle{
    font-size: var(--subtitle-size);
    color: var(--text-dark-primary);
}