.pictureCarouselWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pictureCarouselDirection{
    position: absolute;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#rightPictureCarouselDirection{
    right: 0;
}

.pictureCarouselDirectionButton{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--terciary-color);
    border-radius: 1000px;
}

.pictureCarouselDirectionButton svg{
    fill: var(--primary-color);
}

.pictureCarouselDirectionButtonDisabled{
    width: 50px;
    height: 50px;
    background-color: #dddddd;
    border-radius: 1000px;
}

.pictureCarouselDirectionButtonDisabled svg{
    fill: var(--text-dark-secondary);
}

.pictureCarouselViewport{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: visible;
}

.pictureCarouselViewport::-webkit-scrollbar{
    display: none;
}

.pictureCarouselViewport{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pictureCarouselContent{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.pictureCarouselItem{
    cursor: pointer;
    width: auto;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    color: var(--text-dark-primary);
}

.pictureCarouselItem:hover > .pictureCarouselItemImage{
    filter: brightness(120%);
}

.pictureCarouselItemImage{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    transition: filter .5s;
    object-fit: cover;
}

.fsPictureWrap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #000000dd;
    display: flex;
    flex-direction: column;
}

.fsPictureClose{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--background-default);
}

.fsPicturePreview{
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.fsPicturePreviewImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fsPictureCarouselWrap{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.fsPictureCarouselDirection{
    position: absolute;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#leftfsPictureCarouselDirection{
    left: 0;
}

#rightfsPictureCarouselDirection{
    right: 0;
}

.fsPictureCarouselDirectionButton{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--terciary-color);
    border-radius: 1000px;
}

.fsPictureCarouselDirectionButton svg{
    fill: var(--primary-color);
}

.fsPictureCarouselDirectionButtonDisabled{
    width: 50px;
    height: 50px;
    background-color: #dddddd;
    border-radius: 1000px;
}

.fsPictureCarouselDirectionButtonDisabled svg{
    fill: var(--text-dark-secondary);
}

.fsPictureCarouselViewport{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: visible;
}

.fsPictureCarouselViewport::-webkit-scrollbar{
    display: none;
}

.fsPictureCarouselViewport{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fsPictureCarouselContent{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.fsPictureCarouselItem{
    margin-left: 5px;
    cursor: pointer;
    width: auto;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    color: var(--text-dark-primary);
}

.fsPictureCarouselItem:hover > .fsPictureCarouselItemImage{
    filter: brightness(120%);
}

.fsPictureCarouselItemImage{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    transition: filter .5s;
    object-fit: cover;
}

.fsPictureCarouselCounter{
    padding: 5px 10px;  
    position: absolute;
    bottom: 140px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    font-weight: 700;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    border-radius: 10px;
}