.searchSection{
    background-color: #00cc8f;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv{
    position: relative;
    height: 10vh;
    width: 100vh;
}

.searchInput{
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    padding: 3vh 15vh 3vh 5vh;
    font-size: 4vh;
    font-weight: 600;
    margin: auto;
    color: black;
}

.searchInput::placeholder{
    color: #999;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 0 2vh 2vh 0;
    cursor: pointer;
    transition: all .3s;
}

.searchButton svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.mainContent{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.recentElementsSection{
    width: 100%;
    height: 60vh;
    padding: 5vh 20vh 5vh 20vh;
    position: relative;
}

.recentElementsTitle{
    font-size: 4.5vh;
    margin-bottom: 2vh;
}

.recentElementsCaroussel{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2vh;
}

.recentElementsCaroussel::-webkit-scrollbar{
    display: none;
}

.recentElementsCarousselItems{
    width: fit-content;
    justify-content: space-around;
    display: flex;
    height: 100%;
}

.recentElementsCarousselLeftBtn{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 100%;
    left: 5vh;
    top: 10vh;
    bottom: 0;
    margin: auto;
    transition: all .3s;
    cursor: pointer;
}

.recentElementsCarousselLeftBtn svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.recentElementsCarousselRightBtn{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 100%;
    right: 5vh;
    top: 10vh;
    bottom: 0;
    margin: auto;
    transition: all .3s;
    cursor: pointer;
}

.recentElementsCarousselRightBtn svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.recentElement{
    width: 40vh;
    height: 100%;
    border: blue 1vh solid;
}