.searchSection{
    background-color: #00cc8f;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv{
    position: relative;
    height: 10vh;
    width: 100vh;
}

.searchInput{
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    padding: 3vh 15vh 3vh 5vh;
    font-size: 4vh;
    font-weight: 600;
    margin: auto;
    color: black;
}

.searchInput::placeholder{
    color: #999;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 0 2vh 2vh 0;
    cursor: pointer;
    transition: all .3s;
}

.searchButton svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.mainContent{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.recentElementsSection{
    width: 100%;
    height: 60vh;
    padding: 5vh 20vh 0vh 20vh;
    position: relative;
    display: grid;
    grid-template-rows: minmax(0, auto) minmax(0, 90%);
}

.recentElementsTitle{
    font-size: 4.5vh;
    margin-bottom: 2vh;
}

.elementsCaroussel{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.elementsCaroussel::-webkit-scrollbar{
    display: none;
}

.elementsCarousselItems{
    width: fit-content;
    justify-content: space-around;
    display: flex;
    height: 100%;
}

.elementsCarousselLeftBtn{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 100%;
    left: 5vh;
    top: 10vh;
    bottom: 0;
    margin: auto;
    transition: all .3s;
    cursor: pointer;
}

.elementsCarousselLeftBtn svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.elementsCarousselRightBtn{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: #c3ffed;
    border-radius: 100%;
    right: 5vh;
    top: 10vh;
    bottom: 0;
    margin: auto;
    transition: all .3s;
    cursor: pointer;
}

.elementsCarousselRightBtn svg{
    stroke-width: .6vh;
    color: #00cc8f;
    transition: all .3s;
}

.carousselElement{
    width: 40.5vh;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2vh;
}

.carousselElementImage{
    width: 100%;
    height: 60%;
    margin-bottom: 3vh;
    border-radius: 100vh 100vh 0 0;
}

.carousselElementImageImg{
    width: 100%;
    height: 100%;
}

.carousselElementTitle{
    width: 100%;
    height: 3vh;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.carousselElementDesc{
    width: 100%;
    height: auto;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.carousselElementPrice{
    width: 100%;
    height: 2vh;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.carousselElementType{
    width: 100%;
    height: 2vh;
    font-size: 2vh;
    margin-bottom: 1vh;
}