.carouselWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carouselDirection{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselDirectionButton{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--terciary-color);
    border-radius: 1000px;
}

.carouselDirectionButton svg{
    fill: var(--primary-color);
}

.carouselDirectionButtonDisabled{
    width: 50px;
    height: 50px;
    background-color: #dddddd;
    border-radius: 1000px;
}

.carouselDirectionButtonDisabled svg{
    fill: var(--text-dark-secondary);
}

.carouselViewport{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: visible;
}

.carouselViewport::-webkit-scrollbar{
    display: none;
}

.carouselViewport{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carouselContent{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.carouselItem{
    position: relative;
    cursor: pointer;
    padding: 15px;
    margin-left: 20px;
    width: 250px;
    box-shadow: 0 0 12px -5px #888888;
    border-radius: 10px;
    color: var(--text-dark-primary);
    transition: box-shadow .5s;
}

.carouselItem:hover{
    box-shadow: 0 0 16px -5px #888888;
}

.carouselItem:hover > .carouselItemDetail{
    opacity: 1;
}

.carouselItem:hover > .carouselItemImage{
    opacity: .5;
}

.carouselItem:first-child{
    margin-left: 0;
}

.carouselItemImage{
    width: 100%;
    margin-bottom: 20px;
    transition: opacity .5s;
}

.carouselItemPrice{
    font-size: var(--subtitle-size);
    margin-top: 20px;
    color: var(--text-dark-primary);
}

.carouselItemDetail{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s;
}

.carouselItemSpecList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.carouselItemSpec{
    margin-top: 10px;
    background-color: var(--terciary-color);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carouselItemSpec svg{
    margin-right: 5px;
}