/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .registrationArticle{
        padding-top: 53px;
        color: var(--text-dark-primary);
        background-color: var(--secondary-color);
    }

    .registrationSection{
        height: 500px;
        width: 100%;
    }

    .registrationTitle{
        color: var(--text-light-primary);
        font-size: var(--title-size);
        font-weight: 600;
    }

    .leftRegistration{
        padding-top: 120px;
        width: 50%;
        float: left;
        padding-left: 80px;
    }

    .rightRegistration{
        width: 50%;
        float: right;
    }

    .registrationSubtitle{
        font-size: var(--subtitle-size);
        color: white;
        font-weight: 400;
    }

    .formSection{
        background-color: var(--background-default);
        clear: both;
        display: table;
        width: 100%;
        padding: 50px 80px 50px 80px;
    }

    .formSubtitle{
        font-size: var(--subtitle-size);
        margin-bottom: 12px;
    }

    .formDescription{
        font-size: var(--paragraph-size);
    }

    .formLeft{
        float: left;
        width: 50%;
    }

    .formRight{
        float: right;
        width: 50%;
    }

    .registrationForm{
        padding: 50px;
        margin: 50px 0 0 0;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%);
    }
    
    .formAddress{
        display: block;
        margin-bottom: 50px;
    }

    .formArea{
        display: block;
        margin-bottom: 170px;
        width: 100%;
    }

    .formAreaInputContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formAreaInputContainerMeasure{
        margin-bottom: 8px;
        margin-left: 3px;
    }

    .formAreaLeft{
        width: 50%;
        float: left;
    }

    .formAreaRight{
        width: 50%;
        float: right;
    }

    .formType{
        display: block;
        margin-bottom: 50px;
    }

    .formValue{
        display: block;
        margin-bottom: 50px;
    }

    .formValueInputContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formValueInputContainerMeasure{
        margin-bottom: 8px;
        margin-left: 3px;
    }

    .formInfos{
        display: block;
        margin-bottom: 50px;
    }

    .formObservation{
        display: block;
    }

    .registrationFormBtn{
        width: 500px;
        background-color: var(--terciary-color);
        color: var(--primary-color);
        height: 40px;
        font-size: var(--paragraph-size);
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;
    }

    .purposeOptionsContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .purposeOptionsLeft{
        float: left;
        width: 50%;
    }

    .purposeOptionsRight{
        float: right;
        width: 50%;
    }

    .purposeOptionSale{
        cursor: pointer;
    }

    .purposeOptionRent{
        cursor: pointer;
    }

    .purposeTitleContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .purposeTitle{
        
    }

    .registrationContactSection{
        width: 100%;
        clear: both;
        display: table;
        width: 100%;
        padding: 50px 80px 50px 80px;
    }

}