.detailsMain{
    padding: 53px 0;
}

.detailsMainInfo{
    padding: 20px 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.detailsMainInfoLeft{
    flex: 1;
    padding-right: 100px;
}

.detailsMainInfoLeftTitle{
    margin-bottom: 10px;
    width: 100%;
    font-size: var(--subtitle-size);
    color: var(--text-dark-primary);
}

.detailsMainInfoLeftSubtitle{
    width: 100%;
    font-size: var(--paragraph-size);
    color: var(--text-dark-primary);
}

.detailsMainInfoSpecList{
    margin: 20px 0 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.detailsMainInfoSpec{
    background-color: var(--terciary-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: var(--paragraph-size);
    font-weight: 700;
    color: var(--primary-color);
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsMainInfoSpec svg{
    margin-right: 10px;
}

.detailsMainInfoLeftDesc{
    white-space: pre-line;
    word-break: break-word;
}

.detailsMainInfoRight{
    width: 400px;
    height: fit-content;
}

.detailsMainInfoRightCard{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 12px -5px #888888;
    margin-bottom: 20px;
}

.detailsInfoRightSubtle{
    font-size: 12px;
    margin-top: 20px;
}

.detailsInfoRightTitle{
    font-size: var(--subtitle-size);
    color: var(--text-dark-primary);
}

.detailsInfoRightTitle svg{
    color: var(--primary-color);
}

.detailsInfoRightSubtitle{
    font-size: var(--paragraph-size);
    color: var(--text-dark-primary);
    margin-bottom: 20px;
}

.detailsInfoRightAdditional{
    font-size: var(--paragraph-size);
    color: var(--text-dark-primary);
    margin-bottom: 5px;
}

.detailsInfoRightForm{
    margin-top: 20px;
}

.detailsInfoRightForm label{
    font-size: var(--paragraph-size);
    color: var(--text-dark-primary);
}

.detailsInfoRightFormSubmit{
    width: 100%;
    height: 45px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    border-radius: 10px;
    font-size: var(--paragraph-size);
    font-weight: 700;
}