@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

html{
  --primary-color: #00d982;
  --secondary-color: #19dc8e;
  --terciary-color: #ccf7e6;
  --background-default: #fafafa;
  --text-light-primary: #ffffff;
  --text-dark-primary: #888888;
  --text-dark-secondary: #aaaaaa;
  --title-size: 38px;
  --subtitle-size: 24px;
  --paragraph-size: 12px;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::selection {
  color: var(--primary-color);
  background: var(--background-default);
}