@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

html{
  --primary-color: #00c278;
  --secondary-color: #33ce93;
  --terciary-color: #ccf2e4;
  --quaternary-color: #00e3a6;
  --background-default: #fafafa;
  --text-light-primary: #ffffff;
  --text-dark-primary: #555555;
  --text-dark-secondary: #bbbbbb;
  --title-size: 38px;
  --subtitle-size: 24px;
  --paragraph-size: 14px;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  caret-color: var(--primary-color);
}

::selection {
  color: var(--background-default);
  background: var(--quaternary-color);
}