@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

html{
  --primary-color: #00d982;
  --secondary-color: #66e8b4;
  --terciary-color: #e5fbf2;
  --background-default: #fafafa;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::selection {
  color: var(--primary-color);
  background: var(--background-default);
}