/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    article{
        padding-top: 53px;
        padding-bottom: 53px;
        color: var(--text-dark-primary);
    }

    .presentationSection{
        background-color: var(--secondary-color);
        height: 500px;
        width: 100%;
    }

    .leftPresentation{
        float: left;
        width: 50%;
    }

    .rightPresentation{
        float: right;
        width: 50%;
        padding-right: 80px;
    }

    .aboutTitle{
        color: white;
        font-size: var(--title-size);
        margin-top: 120px;
        font-weight: 600;
    }

    .aboutSubtitle{
        font-size: var(--subtitle-size);
        color: white;
        font-weight: 400;
    }

    .aboutParagraph{
        font-size: var(--paragraph-size);
    }

    .historySection{
        padding: 50px 80px 50px 80px;
    }

    .historySubtitle{
        font-size: var(--subtitle-size);
        margin-bottom: 12px;
    }

    .historyParagraph{
        font-size: var(--paragraph-size);
    }

    .purposeSection{
        padding: 50px 80px 50px 80px;
        width: 100%;
        height: 500px;
    }

    .purposeSubtitle{
        font-size: var(--subtitle-size);
        margin-bottom: 12px;
    }
    
    .purposeParagraph{
        font-size: var(--paragraph-size);
    }

    .purposeLeft{
        float: left;
        width: 50%;
    }

    .purposeRight{
        float: right;
        width: 50%;
    }

    .purposeImg{
        width: 90%;
        border-radius: 10px 10px 10px 0px;
    }

    .opinionSection{
        padding: 50px 80px 50px 80px;
        width: 100%;
        height: 600px;
        background-color: var(--secondary-color);
    }

    .opinionSubtitle{
        color: white;
        font-size: var(--subtitle-size);
        margin-bottom: 12px;
    }

    .opinionSubtitleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .opinionDescriptionContainer{
        text-align: justify;
        width: 60%;
    }

    .opinionDescription{
        color: white;
    }

    .contactSection{
        padding: 50px 80px 50px 80px;
        width: 100%;
        height: 450px;
    }

    .contactSubtitle{
        font-size: var(--subtitle-size);
        margin-bottom: 12px;
    }

    .contactParagraph{
        font-size: var(--paragraph-size);
    }

    .contactLeft{
        float: left;
        width: 60%;
    }

    .contactRight{
        float: right;
        width: 40%;
    }

    .contactContainer{
        margin-top: 50px;
    }

    .contactList{
        list-style: none;
    }

    .contactItem{
        color: var(--primary-color);
        font-weight: 700;
    }
}